version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres_java
    restart: always
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql-java/data

volumes:
  postgres_data: